@import "tailwindcss";

@theme {
  --font-poppins: Poppins, sans-serif;
}

.container {
  padding: 0 56px;
}

@theme {
  --color-primary: #5c6ac4; /* Your custom primary color */
  --color-secondary: #ecc94b; /* Your custom secondary color */
  /* You can also define shades if needed, e.g., --color-avocado-100: oklch(...) */
}

/* Optional: Define colors using hex codes directly if preferred, though OKLCH is standard for default palette */
@theme {
  --color-chocolate: #d2691e;
  --color-chocolate-dark: #8b4513;
}
